
<p class="MsoNormal">
    <span>
        <span>
            Dear {0},
            <u></u><u></u>
        </span>
    </span>
</p>

<p class="MsoNormal">
    <span>
        <span lang="EN-GB" style="letter-spacing:-.1pt">
            &nbsp;
        </span>
        <u></u><u></u>
    </span>
</p>

<p class="MsoNormal">
    <span>
        You receiving this email becuase you have requested a password reset for your CloudProperty account.
    </span>
</p>
<p class="MsoNormal">
    <span>
        If you have not requested this please ignore.
    </span>
</p>

<p class="MsoNormal">
    <span>
        <span lang="EN-GB" style="letter-spacing:-.1pt">
            &nbsp;
        </span>
        <u></u><u></u>
    </span>
</p>

<p class="MsoNormal">
    <span>
        <a href="{1}" > Reset password </a>
    </span>
</p>

<p class="MsoNormal">
    <span>
        <span lang="EN-GB" style="letter-spacing:-.1pt">
            &nbsp;
        </span>
        <u></u><u></u>
    </span>
</p>

<p class="MsoNormal">
    <span>
        Alternatively you can copy the link below and paste in your browser address bar.
    </span>
</p>
<p class="MsoNormal">
    <span>
        {2}
    </span>
</p>

